<!-- templates/mailing/mailing_detail.html -->
{% extends 'mailing/base.html' %}
{% block content %}
  <h1>Детали рассылки</h1>
  <p>Дата начала: {{ object.start_time }}</p>
  <p>Периодичность: {{ object.get_periodicity_display }}</p>
  <p>Статус: {{ object.get_status_display }}</p>
  <!-- Дополнительные поля для вывода -->
  <a href="{% url 'mailing:mailing_update' object.pk %}">редактировать</a>
  <a href="{% url 'mailing:mailing_delete' object.pk %}">удалить</a>
  <a href="{% url 'mailing:mailing_list' %}">назад</a>
{% endblock %}