{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
    <!-------------->
    <div class="mt-5 text-center">
        <h3>Добавляйте клиентов и сообщения для новых рассылок:</h3>
        <div class="d-flex justify-content-center">
            <div class="form-group mx-3">

                <a href="{% url 'mailing:client_list' %}" class="btn btn-primary my-0">Клиенты</a>

            </div>

            <div class="form-group mx-3">

                <a href="{% url 'mailing:message_list' %}" class="btn btn-primary my-0">Сообщения</a>

            </div>
        </div>
    </div>
    <!-------------->

    <!-------------->
    <h3>Список рассылок</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Статус</th>
            <th>Время начала</th>
            <th>Время завершения</th>
            <th>Периодичность</th>
            <th>Сообщение</th>
            <th>Количество клиентов</th>

            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for mailing in mailings %}
            <tr>
                <td>{{ mailing.description }}</td>
                <td>{{ mailing.get_status_display }}</td>
                <td>{{ mailing.start_time }}</td>
                <td>{{ mailing.actual_end_time }}</td>
                <td>{{ mailing.get_periodicity_display }}</td>

                <td>
                    {% if mailing.message %}
                        {% if mailing.owner == request.user %}
                            <a href="{% url 'mailing:message_detail' mailing.message.pk %}" class="btn btn-primary btn-sm">Подробнее</a>
                        {% else %}
                            Нет доступа к сообщению
                        {% endif %}
                    {% else %}
                        Нет сообщения
                    {% endif %}
                </td>
                <td>{{ mailing.clients.count }}</td>
                <td class="text-lg-start align-middle">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a href="{% url 'mailing:mailing_update' mailing.pk %}" class="btn btn-secondary btn-sm">Редактировать</a>
                        {% if mailing.owner == request.user %}
                            <a href="{% url 'mailing:mailing_attempt_list' mailing.pk %}"
                               class="btn btn-warning btn-sm">Попытки</a>
                            <a href="{% url 'mailing:mailing_delete' mailing.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">Пока нет рассылок.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-3">
        <a href="{% url 'mailing:mailing_create' %}" class="btn btn-success" style="margin-right: 70px;">Создать новую
            рассылку</a>
    </div>
    <!-------------->

{% endblock %}
